#
# {{ ansible_managed }}
#

service {{ xinetd_service_name }}
{
{% if xinetd_service_id %}
  id                      = {{ xinetd_service_id }}
{% endif %}
{% if xinetd_service_type %}
  type                    = {{ xinetd_service_type }}
{% endif %}
{% if xinetd_service_disable %}
  disable                 = {{ xinetd_service_disable }}
{% endif %}
{% if xinetd_service_socket_type %}
  socket_type             = {{ xinetd_service_socket_type }}
{% endif %}
{% if xinetd_service_protocol %}
  protocol                = {{ xinetd_service_protocol }}
{% endif %}
{% if xinetd_service_wait %}
  wait                    = {{ xinetd_service_wait }}
{% endif %}
{% if xinetd_service_user %}
  user                    = {{ xinetd_service_user }}
{% endif %}
{% if xinetd_service_server %}
  server                  = {{ xinetd_service_server }}
{% endif %}
{% if xinetd_service_no_access %}
  no_access               = {{ xinetd_service_no_access | join(' ') }}
{% endif %}
{% if xinetd_service_only_from %}
  only_from               = {{ xinetd_service_only_from | join(' ') }}
{% endif %}
{% if xinetd_service_server_args %}
  server_args             = {{ xinetd_service_server_args }}
{% endif %}
{% if xinetd_service_per_source %}
  per_source              = {{ xinetd_service_per_source }}
{% endif %}
{% if xinetd_service_cps %}
  cps                     = {{ xinetd_service_cps }}
{% endif %}
{% if xinetd_service_flags %}
  flags                   = {{ xinetd_service_flags }}
{% endif %}
{% if xinetd_service_log_on_success  %}
  log_on_failure          = {{ xinetd_service_log_on_success }}
{% endif %}
{% if xinetd_service_log_on_failure %}
  log_on_failure          = {{ xinetd_service_log_on_failure }}
{%- endif -%}
}
